# Please install pytorch separately
# See: https://pytorch.org/get-started/locally/
# conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
numpy
scikit-learn
plotly
progressbar2
scikit-image
kaleido
matplotlib
pandas